@{
    ViewData["Title"] = "صفحه اصلی";
}

<partial name="AboutMePartial"/>

@await Component.InvokeAsync("Project")

<div class="container">
    <hr>
</div>

@await Component.InvokeAsync("LatestArticles");